[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
[submodule "yeganathan.github.io"]
	path = yeganathan.github.io
	url = https://github.com/yeganathan18/yeganathan.github.io
